.navbar {
  background: rgb(197,144,130);
  background: linear-gradient(0deg, rgba(197,144,130,1) 43%, rgba(116,76,68,1) 100%);
}

.nav-link:hover{
  color: #744c44 !important
}

.nav-link {
  color: white !important;
}

.header-languages {
  color: #744c44;
}

#brand {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-weight: bold;
  font-size: 30px;
}

.portfolio-link{
  margin-top: 15px;
  padding-bottom: 10px;
  
}

.active {
  background: #744c44;
}

.active:hover {
  color: white !important;
}